.authorization {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.authorization__content {
    min-width: 396px;
    max-width: 396px;
    margin: auto;
    padding: 0 0 70px;

    flex-grow: 1;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: flex-end;
}

.authorization__header {
    margin-top: 70px;
}

.authorization__title {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;

    margin: 40px 0;
}

.authorization__form {
}


.authorization__footer {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    padding-top: 60px;
}

.authorization__button-submit {
    min-height: 45px;
    min-width: 100%;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    text-align: center;

    background-color: var(--complementary-similar-color);
    color: var(--primary-text-color);
}

.authorization__link-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;

    margin-top: 16px;
    color: var(--secondary-text-color);
}

.authorization__error-msg{
    margin: 10px 0;
    color: var(--error-color);
}

@media all and (max-width: 768px) {
    .authorization__content{
        padding-bottom: 232px;
    }
    .authorization__header {
        margin-top: 232px;
    }
}

@media all and (max-width: 420px) {
    .authorization {
        text-align: center;
    }
    .authorization__content{
        padding-bottom: 30px;
        min-width: 260px;
        max-width: 260px;
    }

    .authorization__header {
        margin-top: 56px;
    }

    .authorization__title {
        margin: 50px 0 80px;
    }

    .authorization__button-submit {
        font-size: 12px;
        line-height: 15px;
    }

    .authorization__link-container {
        font-size: 12px;
        line-height: 15px;

        margin-top: 14px;
    }
}
