.movies-card-list{
    flex-grow: 1;
    padding: 70px var(--section-indent-side) 80px;
    text-align: center;
}

.movies-card-list__card-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    column-gap: 24px;
    row-gap: 30px;

    margin-bottom: 30px;
}

.movies-card-list__button{
    margin: 50px auto 0;
}

@media all and (max-width: 768px) {
    .movies-card-list__card-grid{
        column-gap: 30px;
        row-gap: 36px;
    }
}

@media all and (max-width: 420px) {
    .movies-card-list{
        --section-indent-side: 14px;
        padding-top: 40px;
    }
    .movies-card-list__card-grid {
        row-gap: 16px;
    }
}
