.movies-card {
    max-width: 364px;
    /*max-height: 271px;*/
    height: 271px;
    overflow: hidden;

    background-color: var(--secondary-similar-background-color);

    display: flex;
    flex-direction: column;
}

.movies-card__info {
    padding: 14px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.movies-card__text-group {

}

.movies-card__trailer-link{
    text-decoration: none;
}

.movies-card__name {
    margin: 0;
    margin-bottom: 9px;

    text-align: left;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;

    color: var(--primary-text-color);
}

.movies-card__time {
    margin: 0;

    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    display: flex;
    align-items: center;

    color: var(--secondary-text-color);
}

.movies-card__favorite-button {
    width: 30px;
    height: 30px;
    min-width: 30px;
    min-height: 30px;

    border-radius: 50%;
    text-align: center;
    background-color: var(--tertiary-similar-color);
    border: none;
    padding: 9px;
}

.movies-card__favorite-button:hover{
    cursor: pointer;
    opacity: .8;
}

.movies-card__favorite-button_padding{
    padding: 6px;
}

.movies-card__favorite-button_active{
    background-color: var(--complementary-color);
}

.movies-card__favorite-button-icon {
    font-size: 10px;
}

.movies-card__favorite-button-icon-close {
    width: 8px;
    height: 8px;
}

.movies-card__img{
    width: 100%;
    flex-grow: 1;
    object-fit: contain;
}



