@import url(./vendor/normalize.css);
@import url(./vendor/fonts/Inter/inter.css);

@import url(./styles/section.css);
@import url(./styles/link);

body{
    /*background-colors*/
    --primary-background-color: #202020;
    --secondary-background-color: #272727;
    --secondary-similar-background-color: #222222;
    --complementary-background-color: #073042;

    /*elements-colors*/
    --primary-color: #DADADA;
    --secondary-color: #424242;
    --tertiary-color: #303030;
    --tertiary-similar-color: #313131;
    --complementary-color: #3DDC84;
    --complementary-similar-color: #4285F4;
    --error-color: #EE3465;

    /*text-colors*/
    --primary-text-color: #FFFFFF;
    --secondary-text-color: #8B8B8B;
    --tertiary-text-color: #000000;

    /*size*/
    --section-indent-side: 70px;
    --section-content-width: 1280px;

    --app--background-color: var(--primary-background-color);

    background: var(--app--background-color);
    color: var(--primary-text-color);

    font-family: Inter, Helvetica, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;

    min-width: 320px;
    min-height: 100vh;
}
